section.txy-toolbar {
  border: 1px solid #607D8B;
  border-bottom-width: 2px;
  border-radius: .25em;
  margin: .5em 0;
  overflow: auto;
}

section.txy-toolbar > h3 {
  display: inline-block;
  padding: .5em;
}

section.txy-toolbar > div.txy-toolbar-option {
  float: right;
  padding: .5em;
}