section.txy-videopreview {
  border: 1px solid transparent;
  border-radius: .25em;
  display: inline-block;
  margin: .25em auto;
  opacity: .9;
  width: 118px;
}

section.txy-videopreview:hover{
  border-color: #607D8B;
  background-color: #CFD8DC;
  opacity: 1;
}

section.txy-videopreview > img {
  border-radius: .25em;
  margin: 5%;
  width: 90%;
}

section.txy-videopreview:hover > img {
}