p#announcement {

}

p#announcement span.color-highlighted {
  animation: background-colors 60s linear infinite alternate;
  font-family: "M3TALB0X";
  letter-spacing: 2px;
}

p#announcement span.color-highlighted:nth-child(1) {
  animation-delay: -0.5s;
}

p#announcement span.color-highlighted:nth-child(2) {
  animation-delay: -1s;
}

p#announcement span.color-highlighted:nth-child(3) {
  animation-delay: -1.5s;
}

p#announcement span.color-highlighted:nth-child(4) {
  animation-delay: -2s;
}

p#announcement span.color-highlighted:nth-child(5) {
  animation-delay: -2.5s;
}

p#announcement span.color-highlighted:nth-child(6) {
  animation-delay: -3s;
}

p#announcement span.color-highlighted:nth-child(7) {
  animation-delay: -3.5s;
}

p#announcement span.color-highlighted:nth-child(8) {
  animation-delay: -4s;
}

p#announcement span.color-highlighted:nth-child(9) {
  animation-delay: -4.5s;
}

p#announcement span.color-highlighted:nth-child(10) {
  animation-delay: -5s;
}

p#announcement span.subtext {
  display: block;
  font: 16px monospace;
  padding: 10px 0;
}